{% load static %}

<form action="/pings/" method="POST" id="template-form">
    {% csrf_token %}

    <div class="container">
        <div>
            <h2>Select From Current Templates</h2>
            {% for ping in current_templates %}
                <input type="radio" name="template"><b>{{ping.subject}}:</b>
                {{ping.body}}
                <br>
            {% endfor %}
        </div>
        <div>
        {% if ping_template %}
            {{ ping_template }}
            <br>
        {% else %}
            <p>No template to use. Go back and create/select a template first</p>
        {% endif %}
        <button type="submit">Select</button>
        <button type="submit">TestJS</button>
        </div>
    </div>
</form>

<script src="{% static 'js/jquery-3.4.1.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>