{% block body %}
<div class="container">
    <h1>Pings</h1>
    <div>
        {% if pings %}
        <ul>
            {% for ping in pings %}
            {{ ping.subject }}:
                <li>Body: {{ ping.body }}</li>
            <br>
            {% endfor %}
        </ul>

        {% else %}
            <p>No pings are available.</p>
        {% endif %}
    </div>

    <a href="add_ping/">
        <button type="button" class="btn btn-default">Add Ping</button>
    </a>

</div>
{% endblock %}