{% block body %}
<div class="container">
    <div>
        <h1>Custom Pings</h1>
        {% if pings %}
        <ul>
            {% for ping in pings %}
                {% if ping.is_template is False %}
                <b>{{ ping.subject }}:</b>
                {{ ping.body }}
                <ul>
                    <li>Guest: {{ ping.guest }}</li>
                </ul>
                <br>
                {% endif%}
            {% endfor %}
        </ul>
        {% else %}
            <p>No pings are available.</p>
        {% endif %}
    </div>
    <div>
        <h1>Templates</h1>
        {% if pings %}
            {% for ping in pings %}
                {% if ping.is_template is True %}
                <b>{{ ping.subject }}:</b>
                {{ ping.body }}
                <br>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>No templates</p>
        {% endif %}
        <br>
    </div>
    <form action="add-ping/" method="POST">
        <div class="container">
        {% csrf_token %}

        <h1>Add Ping</h1>
            {{ ping_form_expanded.as_p }}
            Company (custom form): <input type="text" name="company">
            <br>
            <button type="submit" class="btn btn-default">Review Ping</button>
        </div>
    </form>
</div>
{% endblock %}