{% block body %}
<div class="container">
    <div>
        <h1>Custom Pings</h1>
        {% if pings %}
        <ul>
            {% for ping in pings %}
                {% if ping.is_template is False%}
                <b>{{ ping.subject }}:</b>
                {{ ping.body }}
                <br>
                {% endif%}
            {% endfor %}
        </ul>

        {% else %}
            <p>No pings are available.</p>
        {% endif %}

    </div>
    <div>
        <h1>Templates</h1>
        {% if pings %}
            {% for ping in pings %}
                {% if ping.is_template is True %}
                <b>{{ ping.subject }}:</b>
                {{ ping.body }}
                <br>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>No templates</p>
        {% endif %}
        <br>
    </div>
    <div>
        <h1>Add Ping</h1>
        {{ ping_form.as_p }}
    </div>
    <div>
         <a href="add-ping/">
        <button type="button" class="btn btn-default">Add Ping</button>
         </a>
    </div>
</div>
{% endblock %}